html[b-otchwg6q66], body[b-otchwg6q66] {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a[b-otchwg6q66], .btn-link[b-otchwg6q66] {
    color: #2E8B57; 
}
.main[b-otchwg6q66]{
    width: 100%;
}
.content[b-otchwg6q66]{
    width: 100%
}
.btn-primary[b-otchwg6q66] {
    color: #fff;
    background-color: #20B2AA; 
    border-color: #20B2AA; 
}

.btn[b-otchwg6q66], .form-control[b-otchwg6q66], .form-check-input[b-otchwg6q66] {
    border-radius: 0.5rem; 
}

.page[b-otchwg6q66] {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5rem; 
}

.sidebar[b-otchwg6q66] {
    background-image: linear-gradient(180deg, #283618 0%, #DDA15E 50%); 
    border-radius: 0.5rem;
}

.top-row[b-otchwg6q66] {
    background-color: #283618; 
    border-bottom: 1px solid #606C38;
    justify-content: flex-end;
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
    color: white;
}

.top-row a[b-otchwg6q66], .top-row .btn-link[b-otchwg6q66] {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
    color: white;
}

.top-row a:hover[b-otchwg6q66], .top-row .btn-link:hover[b-otchwg6q66] {
    text-decoration: underline;
}

.top-row a:first-child[b-otchwg6q66] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row[b-otchwg6q66] {
        justify-content: space-between;
    }

    .top-row a[b-otchwg6q66], .top-row .btn-link[b-otchwg6q66] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-otchwg6q66] {
        flex-direction: row;
    }

    .sidebar[b-otchwg6q66] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-otchwg6q66] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth a:first-child[b-otchwg6q66] {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-otchwg6q66], article[b-otchwg6q66] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-otchwg6q66] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-radius: 0.5rem; /* Add rounded edges */
}

#blazor-error-ui .dismiss[b-otchwg6q66] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
