@page "/"
@using System.Collections.Generic
@using Newtonsoft.Json
@using BusinessTracking
@using Microsoft.EntityFrameworkCore 
@inject Microsoft.JSInterop.IJSRuntime JSRuntime


<PageTitle>Welcome to Busy Books</PageTitle>

<div class="p-5 mb-4 bg-light rounded-3 border">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to Busy Books</h1>
        <p class="col-md-8 fs-4">The simple application for small business owners.</p>
        <p class="col-md-8 fs-5">Busy Books is dedicated to making business tracking as straightforward as possible. We understand the complexities of managing a small business, which is why we've developed a solution that is not only easy to use but also efficient and effective in managing your business's finances and operations.</p>
        <a class="btn btn-primary btn-lg" href="https://dev.azure.com/porterhatch1/CSE325_GroupProject" role="button">Learn More</a>
    </div>
</div>

<div class="container">
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Easy to Use</h2>
                <p>Busy Books is designed with simplicity in mind. Our intuitive interface ensures that you can start tracking your business activities from day one without a steep learning curve.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Efficient Tracking</h2>
                <p>Keep tabs on your finances, inventory, and daily operations with our comprehensive features. Busy Books makes it easy to get a clear picture of your business's health.</p>
            </div>
        </div>
    </div>
</div>

